In [78]:
import tkinter as tk
from tkinter import messagebox
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np
from sklearn.model_selection import train_test_split

In [59]:
heart_data=pd.read_csv('heart_disease_data.csv')

In [72]:
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [71]:
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [73]:
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [75]:
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

In [60]:
X = heart_data.drop('target', axis=1)
y = heart_data['target']

In [76]:
y.shape

(303,)

In [80]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2,stratify=y,random_state=2)

In [81]:
model = LogisticRegression()

In [82]:
model.fit(x_train,y_train)

C:\Users\ABHA PRUTHVI\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [83]:
x_train_prediction=model.predict(x_train)

In [84]:
training_data_accuracy=accuracy_score(x_train_prediction,y_train)

In [85]:
training_data_accuracy

0.8512396694214877

In [86]:
x_test_prediction=model.predict(x_test)

In [87]:
testing_data_accuracy=accuracy_score(x_test_prediction,y_test)

In [88]:
testing_data_accuracy

0.819672131147541

In [89]:
window = tk.Tk()
window.title("Heart Disease Prediction")
window.geometry("600x600")

''

In [90]:
def predict():
    # Get the input values from the GUI fields
    age = int(entry_age.get())
    sex = int(entry_sex.get())
    cp = int(entry_cp.get())
    trestbps = int(entry_trestbps.get())
    chol = int(entry_chol.get())
    fbs = int(entry_fbs.get())
    restecg = int(entry_restecg.get())
    thalach = int(entry_thalach.get())
    exang = int(entry_exang.get())
    oldpeak = float(entry_oldpeak.get())
    slope = int(entry_slope.get())
    ca = int(entry_ca.get())
    thal = int(entry_thal.get())

    input_data = np.array([[age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal]])

    prediction = model.predict(input_data)

    if prediction[0] == 0:
        messagebox.showinfo("Prediction Result", "No Heart Disease")
    else:
        messagebox.showinfo("Prediction Result", "Heart Disease Detected")

In [91]:
label_age = tk.Label(window, text="Age:")
label_age.pack()
entry_age = tk.Entry(window)
entry_age.pack()

label_sex = tk.Label(window, text="Sex (0: Female, 1: Male):")
label_sex.pack()
entry_sex = tk.Entry(window)
entry_sex.pack()

label_cp = tk.Label(window, text="Chest Pain Type:")
label_cp.pack()
entry_cp = tk.Entry(window)
entry_cp.pack()

label_trestbps = tk.Label(window, text="trestbps:")
label_trestbps.pack()
entry_trestbps = tk.Entry(window)
entry_trestbps.pack()

label_chol = tk.Label(window, text="Cholesterol Level:")
label_chol.pack()
entry_chol = tk.Entry(window)
entry_chol.pack()

label_fbs = tk.Label(window, text="Fasting Blood Sugar (0: <= 120 mg/dl, 1: > 120 mg/dl):")
label_fbs.pack()
entry_fbs = tk.Entry(window)
entry_fbs.pack()

label_restecg = tk.Label(window, text="Resting Electrocardiographic Results:")
label_restecg.pack()
entry_restecg = tk.Entry(window)
entry_restecg.pack()

label_thalach = tk.Label(window, text="thalach:Maximum Heart Rate Achieved")
label_thalach.pack()
entry_thalach = tk.Entry(window)
entry_thalach.pack()

label_exang = tk.Label(window, text="Exercise Induced Angina (0: No, 1: Yes):")
label_exang.pack()
entry_exang = tk.Entry(window)
entry_exang.pack()

In [92]:
label_oldpeak = tk.Label(window, text="oldpeak:")
label_oldpeak.pack()
entry_oldpeak = tk.Entry(window)
entry_oldpeak.pack()

label_slope = tk.Label(window, text="Slope of the Peak Exercise ST Segment:")
label_slope.pack()
entry_slope = tk.Entry(window)
entry_slope.pack()

label_ca = tk.Label(window, text="Number of Major Vessels (0-3) Colored by Fluoroscopy:")
label_ca.pack()
entry_ca = tk.Entry(window)
entry_ca.pack()

label_thal = tk.Label(window, text="Thalassemia (0: Normal, 1: Fixed Defect, 2: Reversible Defect):")
label_thal.pack()
entry_thal = tk.Entry(window)
entry_thal.pack()

In [93]:
predict_button = tk.Button(window, text="Predict", command=predict)
predict_button.pack()

In [94]:
window.mainloop()